:root{
  --dark-brown: #794538;
  --beige: #AD9D83;
  --color-logo: #C38B7A;
  --light-brown: #B5948B;
  --blue-grey: #5c8894;
  --skin-color: #D3CBBE;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
 gap: 10rem;
 padding: 0 18rem 3rem 18rem;
 width: 100%;
}

.title-principal,
.title-secundary,
.title-alt,
.link:hover,
.text-principal,
.text-alt{
  color: var(--dark-brown);
}

.title-principal{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.title-secundary{
  font-size: 2rem;
}

.title-alt{
  font-size: 4rem;
}

.text-principal{
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem
}

.text-secundary{
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.5rem
}

.text-alt{
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.container-logo-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

.logo-bottom{
  width: 400px;
}

.container{
  gap: 2rem;
  padding: 0 10rem 3rem 10rem;
}

@media screen and (max-width: 665px){
  .container{
    padding: 0 3rem 3rem 3rem;
   }

   .title-principal{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .text-principal{
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 1.5rem
  }

  .title-secundary{
    font-size: 1.3rem
  }

  .title-alt{
    font-size: 1.5rem;
  }

.text-secundary{
  font-size: 1rem
  }
 
.logo-bottom{
  width: 200px;
  }
}


